<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.juntai.wisdom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".explorsive.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".explorsive.main.mine.dosage.AllDosageActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".explorsive.main.myCenter.NewsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".explorsive.main.myCenter.AboutUsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".explorsive.main.myCenter.HeadCropActivity"
            android:launchMode="singleTop" />
        <activity android:name=".explorsive.main.myCenter.ModifyPwdActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.use.ExplosiveUseDetailActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.receive.ExplosiveReceiveApproveActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.use.ExplosiveUseActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.receive.manager.ExplosiveOutInMineDetailActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.receive.manager.ExplosiveOutInMineActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.receive.manager.ExplosiveManageOfMineActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.receive.delivery.ExplosiveReceiveDeliveryDetailActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.receive.delivery.ExplosiveReceiveDeliveryActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.receive.outHouse.ExplosiveReceiveOutDetailActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.receive.outHouse.ExplosiveReceiveOutActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.explosiveManage.ExplosiveManageActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.dosage.AllMinesActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.use.UseApproveActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.receive.ReceiveApproveActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.use.ExplosiveUseApproveDetailActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.receive.ExplosiveReceiveApproveDetailActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.use.AddUseApplyActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.receive.AddReceiveApplyActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.use.ApplyUseActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.mine.receive.ApplyReceiveActivirty"
            android:launchMode="singleTop"/>
        <activity android:name=".explorsive.main.myCenter.MyCenterActivity"
            android:launchMode="singleTop"/>

        <provider
            android:name=".explorsive.utils.MyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:name,android:authorities,android:exported,android:grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:name,android:resource" />
        </provider>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 百度地图 -->
        <!-- Ma - debug-Release-key : A2hxzsrCO3VOXGXBzVjP3zKKYBsNhi1A -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Dp0ITs4op2ZvGIEn2FYzgovmIRhA2XBv" /> <!-- 百度地图 -->
        <activity
            android:name=".explorsive.entrance.StartActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".explorsive.main.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".explorsive.entrance.LoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".explorsive.faceCheck.FaceCheckActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>